  body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: baseline;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  @font-face {
    font-family: 'RetroText';
    src: url('/fonts/PressStart2P.ttf');
  }

  #container {
    aspect-ratio: 16/9;
    max-height: 95dvh;
    max-width: 1280px;
    align-items: center;
    position: relative;
  }

  canvas {
    image-rendering: pixelated;
    display: block;
    object-fit: contain;
  }

  #dialog-frame {
    border-image-source: url('/images/FrameBlue.png');
    background-color: #111;
    border-image-slice: 8 8 8 8 fill;
    border-image-width: 8px;
    position: absolute;
    bottom: 0;
    width: 96%;
    height: 0;
    transition: height 418ms ease;
  }

  #dialog-frame[data-display="show"] {
    height: 50%;
  }

  [data-visible="false"] {
    visibility: hidden;
    height: 1px;
  }