  body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: baseline;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  @font-face {
    font-family: 'RetroText';
    src: url('/fonts/PressStart2P.ttf');
  }

  #container {
    aspect-ratio: 16/9;
    max-height: 95dvh;
    max-width: 1280px;
    align-items: center;
    position: relative;
    padding: 1px;
    border: 2px white solid;
    border-radius: 8px;
  }

  canvas {
    image-rendering: pixelated;
    display: block;
    object-fit: contain;
  }

  [data-visible="false"] {
    visibility: hidden;
    height: 1px;
  }