@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: normal;
  }

  canvas {
    image-rendering: pixelated;
  }
}
